.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #A3D5C6;
    z-index: 1001;
  }

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

*{
    margin: 0;
}

.img-block{
    height: 100%;
}


.title-page{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 1%;

    color: #8C8C8C;
}

.zero-product{
    display: none;
    font-family: 'Oswald';
    font-style: normal;
    position: absolute;
    top: 50%;
    font-weight: bold;
    font-size: 40px;

    color: #397933;
}



.input-field{
    display: flex;
    width: 90%;
    height: 100%;
    border: 1px solid #397933;
    border-radius: 15px 0px 0px 15px;
    padding-left: 8px;
    font-size: 16px;
    background: #A3D5C6;
}

.input-search button{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 10%;
    height: 100%;

    background: #13BB89;

    border: 2px solid #1A1A1A;
    border-radius: 0px 15px 15px 0px;
}

.input-search button img{
    height: 80%;
    width: auto;
}



.input-search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    margin-bottom: 25px;
    height:5vh; 
}

.goods{
    display: flex;
    align-items: center;
    position: relative;
    left: 5%;
    flex-wrap: wrap;
    height: 100%;
    width: 90%;
    gap: 4%; 
    margin: 2%;

}

.button-buy{
    display: flex;
    justify-content: center;
    background:#0CFB5D;
    width: 70%;
    border-radius: 15px;
    border: 1px #4B4B4B; 
    transition-duration: 0.5s;
    padding: 10%;
    
}

.group-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    gap: 10%;
    width: 80%;
    height: 15%;

}

.addToCart{
    position: absolute;
    right: 0;
    height: 80%;
}

.button-basket{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fbbb0c;
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 50px;
    height: 100%;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button-basket img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.old-price{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 6%;
}

.promotion{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 5px;
    background-color: #fb6c0c;
    height: 100%;
    border-radius: 25px;
}

.start-price{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 18px;
    color: rgb(5, 82, 52);
    text-decoration-line:line-through;
}

.button-buy a{
    width: 100%;
    text-decoration: none;
    font-size: 15px;
    color: #4B4B4B;
}

button:hover:not(.disable,.select-button-pagination){
    background: #fb6c0c;
    transition: all 0.5s;
    transform: scale(1.12);
    
}

.description{
    display: flex;
    width: 75%;
    text-decoration: none;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 16px;
    color: #CDE3CF;
    overflow: hidden;

}

.section .img-box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: #13BB89;

    border: 3px solid #F0F0F0;
    border-radius: 14px;
    width: 75%;
    height: 168px;
}

.section .img-box a{
    height: 100%;
    max-width: 95%;
    
}
.section .img-box img{
    height: 100%;
    max-width: 100%;
}



.section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 360px;
    width: 230px;
    background: #13BB89;
    padding-top: 1%;
    margin: 1%;
    border-radius: 14px;
    gap: 2%;
    
}

ul{
    padding-left: 15px;
    list-style-type:none;
}



.filter-text{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;

    color: #DFDFDF;
}

.all-filter div{
    padding: 10px;
}

.all-filter div p{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 20px;
    color: #DFDFDF;
}

.all-filter div li{
    cursor: pointer;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 20px;
    
    color: #DFDFDF;
}

.all-filter div li:hover{
    color: #c7cccb;

}
.price{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5%;
}

.price input::-webkit-outer-spin-button, .price input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.price input{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
    width: 100%;
    margin: 0;

    background: #DFDFDF;

    border: 2px solid #4B4B4B;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 14px;
    color: #4B4B4B;
    border-radius: 5px;
    
}

.price li.input{
    width: 25%;
}

.cover-div {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 49;
}

.modal-window-add-cart{
    z-index: 50;
    transition: all 1s;
    position: fixed;
    width: 25%;
    height: 20%;
    left: 37.5%;
    top: 40%;
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    padding: 25px 50px;
    gap: 20px;
    
    
    background: #F0F0F0;
    border-radius: 30px;
}

.modal-window-add-cart p{
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 30px;

    color: #13BB89;
}

.modal-window-add-cart .go-to-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5px;
    height: 20%;
}

.modal-window-add-cart .go-to-cart img{
    height: 100%;
    width: auto;
}

.modal-window-add-cart .go-to-cart .text{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 24px;
    text-decoration: none;

    color: #13BB89;
}

.group-button .price{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 18px;

    color: rgb(5, 82, 52);
    font-weight: bold;
}

.but-search{
    transition-duration: 0.5s;
}

.pagination,.paginationTop{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 20px 0;  
    
}

.pagination button,.paginationTop button{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 20px;
    transition-duration: 0.18s;
    background-color: #bfe7da;
}

.number-pagination {
    display: flex;
   

}

.button-pagination {
    padding: 10px 15px;

}


.select-button-pagination {
    color: #0e9368;
    border: 4px solid #0e9368;
    font-weight: bold;

}

.forward-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;


}


.pagination button:not(.disable,.select-button-pagination):hover,.paginationTop button:not(.disable,.select-button-pagination):hover{
    background: #8bcab7;
    transition: all 0.5s;
    transform: scale(1.12);
    
}

.back-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.disable {
    color: #8C8C8C;   
}


.stars{
    width: 80%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.stars img{
    height: 100%;
}

@media screen and (max-width: 1200px) {
    
    .modal-window-add-cart{
        padding: 0;
        width: 50%;
        left: 25%;
    }
    .side-menu{
        width: 20%;
    }
    main{
        width: 80%;
    }
    .section{
        width: 200px;
        height: 340px;
    }
    .section .description{
        font-size: 14px;
    }

    .pagination button, .paginationTop button{
        padding: 6px 10px;
        
    }
}

@media screen and (max-width: 800px) {
    .pagination button, .paginationTop button{
        font-size: 16px;
    }
    .side-menu{
        width: 30%;
    }
    main{
        width: 70%;
    }
    .goods{
        justify-content: center;
        left: 0;
    }

    .section{
        width: 180px;
        height: 290px;
    }
    .group-button .price{
        font-size: 15px;
    }

    .start-price{
        font-size: 15px;
    }
    .promotion-percent{
        font-size: 15px;
    }
    .section .img-box{
        height: 130px;
    }

    
}

@media only screen and (max-width: 650px){
    .modal-window-add-cart{
        width: 85%;
        padding: 0;
        left: 7.5%;
    }
    .modal-window-add-cart p{
        font-size: 24px;
    }
    .img-block{
        height: 75%;
    }
    .modal-window-add-cart .go-to-cart .text{
        font-size: 20px;
    }
    .section{
        width: 165px;
        height: 290px;
    }
    .goods{
        width: 100%;
    }
    main{
        width: 100%;
    }
    .side-menu {
        opacity: 0;
        transition: all 0.5s;
        width: 75%;
        z-index: 151;
    }
    .group-button .price{
        font-size: 14px;
    }
    .title-page{
        font-size: 26px;
    }
    .input-search{
        width: 75%;
    }
    .input-search button{
        width: 20%;
    }
    
}

@media only screen and (max-height: 950px){
    .side-menu::-webkit-scrollbar {
        width: 5px;  
        background: #5daf96;
    }
    .side-menu::-webkit-scrollbar-thumb {
        background-color: #1ccf9a;
        border-radius: 10px;
    }
    .side-menu {
        border-radius: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .bot-categories{
        margin-top: 15px;
        position: relative;

    }
}