*{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 84%;
}

.main-product-card-head {
    display: flex;
    flex-direction: row;
    gap: 8%;
    width: 40%;
    margin: 1%;
}

.main-product-card-head a {
    text-decoration: none;
    color: #4B4B4B;
}

.main-product-card-head a:hover {
    color: #080808;
}

.main-product-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 98%;
    height: 15em;
    gap: 2%;
    
}


.main-product-card-img-box {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 100%;
    background: #13BB89;
    border-radius: 14px;
    border: none;
}

.main-product-button-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fbbb0c;
    border-radius: 14px ;
    border: none;
    font-family: 'Oswald regular', sans-serif;
    font-style: normal;
    font-size: 22px;
    width: 50%;
    height: 40%;
    transition-duration: 0.5s;
}

.main-product-button-buy:hover {
    background: #fb6c0c;
    transition: all 0.5s;
    transform: scale(1.08);
    
}

.main-product-info-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7%;
    width: 15em;
    font-style: bold !important;
    color: #13097a;
}

.main-product-add-bascet-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald regular', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: #4B4B4B;
    background: #0CFB5D;
    border-radius: 14px ;
    border: none;
    width: 65%;
    height: auto;
    transition-duration: 0.5s;

}

.main-product-add-bascet-button:hover {
    background: #1bcb26;
    transition: all 0.5s;
    transform: scale(1.08);
    
}

.main-product-name {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #0b4a37;
}


.main-product-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10%;

}

#img_c {
    display: flex;
    width: auto;
    color: #080808;
    height: 27px;
    padding: 3% 0% 3% 5%;
}

.main-product-description {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0b4a37;
    width: 97%;

}
