*{
    font-family: 'Oswald';
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 2vw;
    box-sizing: border-box;
}

.main-product-card-head {
    display: flex;
    flex-direction: row;
    gap: 8%;
    width: 40%;
    margin: 1%;
}



.main-product-card-head p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;

    color: #4B4B4B;
    margin: 0;
}

.main-product-card-head a{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;

    color: #8C8C8C;
    margin: 0;
    text-decoration: none;

}





.main-product-card-head a:hover {
    color: #080808;
}



.main-product-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 98%;
    height: 35vh;
    gap: 2%;
    
}


.main-product-card-img-box {
    display: flex;
    justify-content: center;
    width: 35%;
    height: 100%;
    background: #13BB89;
    border-radius: 14px;
    border: none;
}

.main-product-button-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#0be6a4;
    border-radius: 14px ;
    border: none;
    font-family: 'Oswald regular', sans-serif;
    font-style: normal;
    font-size: 22px;
    width: 35%;
    transition-duration: 0.5s;
}

.main-product-button-buy:hover {
    background: #01fdb1;
    transition: all 0.5s;
    transform: scale(1.08);
    
}

.main-product-info-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    gap: 7%;
    width: 25em;
    color: #0D825F;
    margin: 0;
}

.main-product-add-bascet-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald regular', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: #4B4B4B;
    background: #fbbb0c;
    border-radius: 14px ;
    border: none;
    width: 45%;
    height: auto;
    transition-duration: 0.5s;

}

.main-product-add-bascet-button:hover {
    background: #fb6c0c;
    transition: all 0.5s;
    transform: scale(1.08);
    
}

.main-product-name {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #0D825F;
    font-size: 28px;
    margin: 0;
}


.main-product-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10%;

}

#img_c {
    display: flex;
    width: auto;
    color: #080808;
    height: 27px;
    padding: 3% 0% 3% 5%;
}

.main-product-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #0D825F;
    width: 97%;
    font-size: 28px;

}


.modal-window-add-cart{
    z-index: 50;
    transition: all 1s;
    position: fixed;
    width: 25%;
    height: 20%;
    left: 37.5%;
    top: 40%;
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    padding: 25px 50px;
    gap: 20px;
    
    
    background: #F0F0F0;
    border-radius: 30px;
}

.modal-window-add-cart p{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 30px;

    color: #13BB89;
}

.modal-window-add-cart .go-to-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5px;
    height: 20%;
}

.modal-window-add-cart .go-to-cart img{
    height: 100%;
    width: auto;
}

.modal-window-add-cart .go-to-cart .text{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 24px;
    text-decoration: none;

    color: #13BB89;
}

.stars{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.stars img{
    height: 100%;
}