*{
    padding: 0%;
    margin: 0%;
}

.title {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 1%;
    color: #8C8C8C;
}



.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: #13BB89;
    border-radius: 14px;
    padding: 0px 5px;
    height: 13vh;
    
}

.colection-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 80%;
    gap: 2.5vh;
}

.item .count-product {
    color: #DFDFDF;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
}

.display_name {
    display: flex;
    width: 42vh;
    color: #DFDFDF;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 26px;
}

.item .price {
    color: #DFDFDF;
    font-family: 'Oswald';
    font-style: normal;
    display: flex;
    font-size: 28px;
}


.bin-block{
    height: 9vh;
}

.bin {
    display: flex;
    height: 100%;
    cursor: pointer;
}


.item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #DFDFDF;
    border-radius: 14px;
    height: 100%;
    width: 16%;
    box-sizing: border-box;
    padding: 1%;
    
    
}


.item-icon img {
    display: flex;
    width: 90%;
    height: auto;
    
}

.item-information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;

}

.button-by-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    padding: 10px 30px;
    gap: 15px;
    height: 7.2%;
    margin-bottom: 20px;
    cursor: pointer;
    background: #13BB89;
    border-radius: 14px;
}

.button-text{
     font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* line-height: 47px; */
    /* width: 78.3%;
    height: 78.3%; */
    color: #DFDFDF;
    text-decoration: none;

}

.button-by-items img{
       box-sizing: border-box;
       height: 80%;
}

.minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    background: #13BB89;
    color: #DFDFDF; 
    border-radius: 25px;  
    font-size: 30px;
    border: 2px solid  #DFDFDF;
    cursor: pointer;
    
}

.disable {
    cursor: default;
    color: #89cab7;
    border: 2px solid  #89cab7;

}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    background: #13BB89;
    color: #DFDFDF; 
    border-radius: 25px;  
    font-size: 30px;
    border: 2px solid  #DFDFDF;
    cursor: pointer;
}

.quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10vh;
}

.count-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-cart{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    top: 40%;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    color: #0b503a;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .display_name {
        width: 35vh;
        font-size: 25px;
        box-sizing: border-box;
        padding: 1%;
    }

    .quantity {
        width: 11%;
    }
}


/* @media screen and (max-width: 1000px) { 
    .item-information {
        display: flex;
        flex-direction: row;
    }

    /* .information {
        display: flex;
        flex-direction: column;
    }
} */ 





@media screen and (max-width: 1050px) {
    .display_name {
        width: 30vh;
        font-size: 24px;
        box-sizing: border-box;
        padding: 1%;
    }

    .quantity {
        width: 11%;
    }

    .plus {
        width: 25px;
        height: 25px;

    }

    .minus {
        width: 25px;
        height: 25px;

    }

}



@media screen and (max-width: 900px) {
    .display_name {
        width: 29vh;
        font-size: 23px;
        box-sizing: border-box;
        padding: 1%;
    }


    .item-icon img {
    display: flex;
    width: 60%;
    height: auto;
    }


    .item {
        width: 95%;
    }

    .item .price {
        font-size: 25px;

    }

    .quantity {
        
        width: 12%;
    }
    
    .plus {
        width: 24px;
        height: 24px;

    }

    .minus {
        width: 24px;
        height: 24px;

    }


}


@media screen and (max-width: 800px) {
    .display_name {
        width: 29vh;
        font-size: 20px;
        box-sizing: border-box;
        padding: 1%;
    }

    .item .price {
        font-size: 24px;

    }

    .item {
        width: 97%;
    }

    .quantity {
        width: 15%;
        justify-content: space-between;
    }

    .button-by-items {
        padding: 1%;
        

    }

    .button-text {
        font-size: 24px;
    }

    .button-by-items img{
        box-sizing: border-box;
        height: 40px;
 }
 
}


@media screen and (max-width: 700px) {

    .display_name {
        width: 29vh;
        font-size: 18px;
        box-sizing: border-box;
        padding: 1%;
    }

    .item .price {
        font-size: 22px;
    }


    .quantity {
        width: 9%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .item-icon img {
        display: flex;
        width: auto;
        height: 100%;
        
    }

    .item-icon {
        width: 20%;
    }

}

