main{
    height: 100%;
}

*{
    padding: 0%;
    margin: 0%;
}

.title {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 1%;
    color: #8C8C8C;
}



.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: #13BB89;
    margin-bottom: 10px;
    border-radius: 14px;
    padding: 0px 15px ;
    height: 12%;
    
}

.item p {
    color: #DFDFDF;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
}

.display_name {
    display: flex;
    width: 80vh;
}

.item .price {
    display: flex;
    font-size: 2.2rem;
}

.bin {
    display: flex;
    height: 5rem;
}


.item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #DFDFDF;
    border-radius: 14px;
    height: 100%;
    width: 15.5%;
    
    
}


.item-icon img {
    display: flex;
    width:auto;
    height: 95%;
    
}

.button-by-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 2.8%;
    width: 33.5%;
    height: 7.2%;


    background: #13BB89;
    border-radius: 14px;
}

.button-text{
     font-family: 'Oswald';
       font-style: normal;
       font-weight: 400;
       font-size: 32px;
       line-height: 47px;
       width: 78.3%;
       height: 78.3%;
       color: #DFDFDF;

}

.button-by-items img{
       box-sizing: border-box;
       
       width: 14.4%; 
       height: 78.3%;
}

.minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    background: #13BB89;
    color: #DFDFDF; 
    border-radius: 25px;  
    font-size: 30px;
    border: 2px solid  #DFDFDF;
    
}

.disable {
    color: grey;
    border: 2px solid  grey;

}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    background: #13BB89;
    color: #DFDFDF; 
    border-radius: 25px;  
    font-size: 30px;
    border: 2px solid  #DFDFDF;
}

.quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 8%;
}

.count-product {
    display: flex;
    justify-content: center;
    align-items: center;
}
