main{
    height: 100%;
}

*{
    padding: 0%;
    margin: 0%;
}

.title {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 1%;
    color: #8C8C8C;
}



.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: #13BB89;
    border-radius: 14px;
    padding: 0px 15px ;
    height: 15%;
    
}

.colection-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 100%;
    gap: 2.5%;
}

.item .count-product {
    color: #DFDFDF;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
}

.display_name {
    display: flex;
    width: 42vh;
    color: #DFDFDF;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 26px;
}

.item .price {
    color: #DFDFDF;
    font-family: 'Oswald';
    font-style: normal;
    display: flex;
    font-size: 28px;
}

.bin {
    display: flex;
    height: 5rem;
    cursor: pointer;
}


.item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #DFDFDF;
    border-radius: 14px;
    height: 100%;
    width: 16%;
    
    
}


.item-icon img {
    display: flex;
    width:auto;
    height: 100%;
    
}

.button-by-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;

    height: 7.2%;
    margin-bottom: 20px;
    cursor: pointer;
    background: #13BB89;
    border-radius: 14px;
}

.button-text{
     font-family: 'Oswald';
       font-style: normal;
       font-weight: 400;
       font-size: 32px;
       /* line-height: 47px; */
       /* width: 78.3%;
       height: 78.3%; */
       color: #DFDFDF;

}

.button-by-items img{
       box-sizing: border-box;
       height: 80%;
}

.minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    background: #13BB89;
    color: #DFDFDF; 
    border-radius: 25px;  
    font-size: 30px;
    border: 2px solid  #DFDFDF;
    cursor: pointer;
    
}

.disable {
    cursor: default;
    color: #89cab7;
    border: 2px solid  #89cab7;

}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    background: #13BB89;
    color: #DFDFDF; 
    border-radius: 25px;  
    font-size: 30px;
    border: 2px solid  #DFDFDF;
    cursor: pointer;
}

.quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 8%;
}

.count-product {
    display: flex;
    justify-content: center;
    align-items: center;
}
