main{
    height: 100%;
}


*{
    padding: 0%;
    margin: 0%;

}


.title {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 1%;
    color: #8C8C8C;
}

p{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color: #DFDFDF;

}

.input-field{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
    align-items: center;
    width: 100%;

}

.final-price-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.text { 
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #5a5858;
}

.final-price-block .price {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    
    color: rgb(210, 228, 228);
}


.pay{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color: #DFDFDF;
}

.small-title {
    font-family: 'Oswald';
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    color: #DFDFDF;
}

.block-by{
    display: flex;
    flex-direction: row;
    width: 75%;
    gap: 1%;
    height: 80%;
}
    




.by-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 65%;
    position: relative;
    height: 85%;
    gap: 3%;

}

.item {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid #4B4B4B;
    border-radius: 10px;
    width: 90%;
    min-height: 22vh;
    min-height: 22vh;
}

.user-data{
    background-color: #13BB89;
    border-radius: 14px;
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;
    height: 100%;
    gap: 5%;
}



.img-price-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60%;
}



.item-img img{
    height: 95%;
    
}

.item-img{
    display: flex;
    height: 12vh;
    width: 12vh;
    align-items: center;
    justify-content: center;
    border: 2px solid #F0F0F0;
    border-radius: 14px;
}

.pr{
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    align-items: center;

}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 40%;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}


.minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background: #13BB89;
    color: #DFDFDF; 
    border-radius: 25px;  
    font-size: 20px;
    border: 2px solid  #DFDFDF;
    cursor: pointer;
    
}


.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background: #13BB89;
    color: #DFDFDF; 
    border-radius: 25px;  
    font-size: 20px;
    border: 2px solid  #DFDFDF;
    cursor: pointer;
    
}


.disable {
    cursor: default;
    color: #89cab7;
    border: 2px solid  #89cab7;

}



.quantity{
    display: flex;
    flex-direction: row;
    width: 42%;
    justify-content: space-between;
    align-items: center;
}

.item .price{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Oswald";
    font-style: normal;
    font-size: 22px;
    color: #DFDFDF;
}


.by-form input{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #4B4B4B;
    width: 100%;
    height: 6vh;
    background: #DFDFDF;
    color: #8C8C8C;
    font-size: 14px;
    padding-left: 3%;
    font-family: "Oswald";
    font-style: normal;
    font-size: 22px;
    color: #4B4B4B;
}



.goods{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #13BB89;
    border-radius: 14px;
    width: 42%;
    height: 100%;
    padding-top: 2%;
    gap: 2%;
    
}

.items-list{
    overflow:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 15px 0;
    gap: 20px;
}

.items-list::-webkit-scrollbar {
    width: 10px;  
    background: #5C9886;
    border-radius: 20px;
}
  

.items-list::-webkit-scrollbar-thumb {
    background-color: #1f7e60;
    border-radius: 20px;
}

.to-order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald regular', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: #4B4B4B;
    background: #fbbb0c;
    border-radius: 14px ;
    border: none;
    width: 100%;
    height: 80%;
    transition-duration: 0.5s;
    
}

.pay-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    padding: 5% 0%;
}

.to-order-button:hover {
    background: #fb6c0c;
    transition: all 0.5s;
    transform: scale(1.08);
    
}



.cover-div {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 49;
    background: rgba(92, 92, 92,  0.2);
    backdrop-filter: blur(2px);
}

.method{
    background-color: #cae7df;
    border: 4px #cae7df solid;
    border-radius: 50px;
    width: 1vh;
    height: 1vh;
}

.select-input{
    background-color: #cae7df;
    border: 4px #fbbb0c solid;
    border-radius: 50px;
    width: 1vh;
    height: 1vh;
}

.back-to-cart{
    display: none;
}


.price-and-button{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    justify-content: flex-end;
}


@media screen and (max-width: 1280px) {
    .block-by{
        width: 90%;
    }

    .name{
        font-size: 17px;
    }

}

@media screen and (max-width: 1100px) {
    .text { 
        font-size: 25px;
    }
    
    .final-price-block .price {
        font-size: 25px;
    }

}


@media screen and (max-width: 800px) {
    .text { 
        font-size: 22px;
    }
    
    .final-price-block .price {
        font-size: 22px;
    }

}





@media screen and (max-width: 1000px) {
    .small-title {
        font-size: 20px;
    }
    .pay{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
    .to-order-button{
        font-size: 20px;
    }
    .title{
        font-size: 30px;
    }
    .by-form input{
        font-size: 18px;
    }
    .block-by{
        width: 70%;
    }

    .goods{
        display: none;
    }

    .user-data{
        width: 100%;
        position: relative;
    }

    .back-to-cart{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 5px;
        top: 5px;
        width: 5vw;
        height: 5vw;
    }

    .back-to-cart img{
        width: 90%;
        height: 90%;
    }


}

@media screen and (max-width: 650px) {
    .by-form{
        width: 85%;
    }
    .text { 
        font-size: 18px;
    }
    
    .final-price-block .price {
        font-size: 18px;
    }
    .small-title {
        font-size: 18px;
    }
    .pay{
        font-size: 17px;
    }
    p{
        font-size: 15px;
    }
    .by-form input{
        font-size: 15px;
    }
}
@media screen and (max-width: 500px) {
    .to-order-button{
        font-size: 15px;
    }
    .title{
        font-size: 24px;
    }
    .modal-window .title, .modal-window-logout .title{
        text-align: center;
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    .to-order-button{
        font-size: 14px;
    }
    .modal-window .title, .modal-window-logout .title{
        font-size: 18px;
    }
    .modal-window .message{
        font-size: 15px;
    }
}