main{
    height: 100%;
}


*{
    padding: 0%;
    margin: 0%;

}


.title {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 1%;
    color: #8C8C8C;
}

p{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #DFDFDF;

}

.input-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}


.pay{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color: #DFDFDF;
}

.small-title {
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color: #DFDFDF;
}

.block-by{
    display: flex;
    flex-direction: row;
    width: 75%;
    gap: 1%;
    height: 80%;
}
    




.by-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 65%;
    position: relative;
    height: 90%;


}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #4B4B4B;
    border-radius: 10px;
    width: 90%;

}

.user-data{
    background-color: #13BB89;
    border-radius: 14px;
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;
    height: 100%;
    gap: 5%;
}



.img-price-block{
    display: flex;
    flex-direction: row;
    width: 100%;
}



.item-img img{
    display: flex;
    width: 40%;
    border: 2px solid #F0F0F0;
    border-radius: 14px;
}

.item-img{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.pr{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    align-items: center;

}

.name{
    width: 90%;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}


.minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background: #13BB89;
    color: #DFDFDF; 
    border-radius: 25px;  
    font-size: 20px;
    border: 2px solid  #DFDFDF;
    cursor: pointer;
    
}


.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background: #13BB89;
    color: #DFDFDF; 
    border-radius: 25px;  
    font-size: 20px;
    border: 2px solid  #DFDFDF;
    cursor: pointer;
    
}


.disable {
    cursor: default;
    color: #89cab7;
    border: 2px solid  #89cab7;

}



.quantity{
    display: flex;
    flex-direction: row;
    width: 42%;
    justify-content: space-between;
    align-items: center;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.by-form input:not(.method){
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    border-radius: 10px;
    border: 1px solid #4B4B4B;
    width: 100%;
    height: 6vh;
    background: #DFDFDF;
    color: #8C8C8C;
    font-size: 14px;
    padding-left: 3%;
}



.goods{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #13BB89;
    border-radius: 14px;
    width: 42%;
    height: 100%;
    padding-top: 2%;
    gap: 2%;
    
}

.items-list{
    overflow-y: scroll;
    scrollbar-width: thin;
}

.items-list ::-webkit-scrollbar{
    background-color: #fbbb0c;
}

.to-order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald regular', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: #4B4B4B;
    background: #fbbb0c;
    border-radius: 14px ;
    border: none;
    width: 100%;
    height: 10%;
    transition-duration: 0.5s;
    position: absolute;
    bottom: 0;
}

.pay-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    padding: 5% 0%;
}

.to-order-button:hover {
    background: #fb6c0c;
    transition: all 0.5s;
    transform: scale(1.08);
    
}

.modal-window{
    z-index: 55;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 40%;
    height: 24%;
    opacity: 0;
    transition: all 1s;
    right: 22.5%;
    top: 38%;
    gap: 10%;
    background: #F0F0F0;
    border-radius: 60px;
}

.modal-window .title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    
    color: #13BB89;
    margin: 0;
}
.modal-window .message{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
    
    color: #13BB89;
    margin: 0;
}

.cover-div {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 49;
    background: rgba(92, 92, 92,  0.2);
    backdrop-filter: blur(2px);
}

.method{
    background: #A3D5C6;
    border: 1px #A3D5C6;
    border-radius: 50px;
}

.select-input{
    background: #A3D5C6;
    border: 1px #fbbb0c;
    border-radius: 50px;
}