.side-menu{
    position: fixed;
    border-radius: 0px 20px 20px 0px;
    background: #13BB89;
    width: 13%;
    height: 100vh;
    display: flex;
    padding-left: 5px;
    flex-direction: column;
    gap: 5%;
}

.top-categories,.bot-categories{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: auto;
}

.bot-categories{
    position: absolute;
    bottom: 5%;

}

.top-categories img,.bot-categories img{
    width: 12%;
    height: auto;
}

.top-categories a,.bot-categories a{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 20px;
    color: #DFDFDF;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    width: 70%;
    height: auto;
    margin: 8%;
    text-decoration: none;
    background: #CDE3CF;
    border-radius: 10px;
}

.logo p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    text-decoration: none;
    margin: 0;
    color: #8C8C8C;
}

body{
    display: flex;
    background: #A3D5C6;
    padding: 0;
    margin: 0;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    width: 87%;
    height: auto;
}

.paw1{
    position: fixed;
    z-index: -1;
    height: 30%;
    right: 1%;
    top: 3%;
    transform: rotate(25deg);
    
    
}

.paw2{
    position: fixed;
    z-index: -1;
    height: 16%;
    left: 15%;
    top: 36%;
    transform: rotate(-25deg);
    
}

.paw3{
    position: fixed;
    z-index: -1;
    height: 14%;
    top: 80%;
    left: 70%;
    transform: rotate(4deg);
}

.paw4{
    position: fixed;
    z-index: -1;
    left: 30.3%;
    top: 7%;
    height: 9%;
    transform: rotate(-30deg);
    
}

.paw5{
    position: fixed;
    z-index: -1;
    transform: rotate(14deg);
    height: 15%;
    left: 48%;
    top: 39%;
}

.paw6{
    position: fixed;
    z-index: -1;
    transform: rotate(-14deg);
    height: 15%;
    left: 43%;
    top: 80%;
}

.paw7{
    position: fixed;
    z-index: -1;
    transform: rotate(10deg);
    height: 8%;
    left: 23%;
    top: 80%;
}