* {
    margin: 0%;
    padding: 0%;
}

main{
    box-sizing: border-box;
    align-items: flex-start;
    padding-left: 3%;
}

.information {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: auto;
    
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 1%;
    color: #8C8C8C;
}

.small-title {
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color: #282828; 
}

.text-data {
    color: #0b4a37;
    font-family: 'Oswald';
    font-style: medium;
    font-size: 20px;
    padding-left: 4%;
}

form{
    display: flex;
    flex-direction: column;
}
form textarea{
    padding: 5px;
    background: none;
    border: 3px solid #13BB89;
    border-radius: 15px;
    margin-bottom: 1%;
    resize: none;
    font-family: 'Oswald';
    color: #0b4a37;
    font-size: 20px;
    max-width: 90%;
}


form button{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fbbb0c;
    padding: 9px 0px;
    color: #4B4B4B;
    margin: 3% 0;
    width: 50%;
    height: 16%;

    border-radius: 14px ;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    transition-duration: 0.5s;
}



form button:hover{
    background: #fb6c0c;
    transition: all 0.5s;
    transform: scale(1.08);
    
    
}



.social-net{
    width: auto;
    height: 12vh;
}

.social-net-img{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 4%;
}

.social-net-img a{
    display: flex;
    height: 100%;
}

.social-net-img a img{
    height: 100%;
}

.messanger{
    width: auto;
    height: 12vh;
}
.messanger-img{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 4%;
}

.messanger-img a{
    display: flex;
    height: 100%;
}

.messanger-img a img{
    height: 100%;
}

.auth-block{
    margin: 50px 0;
    display: flex;
    width: fit-content;
    gap: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:auto;
    gap: 20px;
}

.auth-block p{
    text-align: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: rgb(5, 82, 52);
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fbbb0c;
    width: auto;
    padding: 10px 15px;
    height: auto;
    border-radius: 14px ;
    transition-duration: 0.5s;
}

.login-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #4B4B4B;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


.login-button:hover{
    background: #fb6c0c;
    transition: all 0.5s;
    transform: scale(1.08);
}


.cover-div {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 49;
    background: rgba(92, 92, 92,  0.2);
    backdrop-filter: blur(2px);
}

@media screen and (max-width: 650px) {
    main{
        padding: 0 10px;
    }
    .small-title{
        font-size: 18px;
    }
    .auth-block p{
        font-size: 19px;
    }
    .login-button a{
        font-size: 18px;
    }
}