* {
    margin: 0%;
    padding: 0%;
}

main{
    box-sizing: border-box;
    align-items: flex-start;
    padding-left: 3%;
    height: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 100vh;
    
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 1%;
    color: #8C8C8C;
}

.small-title {
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    color: #282828;
}

.text-data {
    color: #0b4a37;
    font-family: 'Oswald';
    font-style: medium;
    font-size: 20px;
    padding-left: 4%;
}

form{
    display: flex;
    flex-direction: column;
}
form textarea{
    padding: 5px;
    background: none;
    border: 3px solid #13BB89;
    border-radius: 15px;
    margin-bottom: 1%;
    resize: none;
    font-family: 'Oswald';
    color: #0b4a37;
    font-size: 20px;
}


form button{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fbbb0c;
    padding: 9px 0px;
    color: #4B4B4B;
    margin-top: 3%;
    width: 50%;
    height: 16%;

    border-radius: 14px ;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    transition-duration: 0.5s;
}



form button:hover{
    background: #fb6c0c;
    transition: all 0.5s;
    transform: scale(1.08);
    
    
}



.social-net{
    width: 100%;
    height: 12%;
}

.social-net-img{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 4%;
}

.social-net-img a{
    display: flex;
    height: 100%;
}

.social-net-img a img{
    height: 100%;
}

.messanger{
    width: 100%;
    height: 12%;
}
.messanger-img{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 4%;
}

.messanger-img a{
    display: flex;
    height: 100%;
}

.messanger-img a img{
    height: 100%;
}

.auth-block{
    position: fixed;
    display: flex;
    width: 84%;
    gap: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    bottom: 0;
    right: 0;
}

.auth-block p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgb(5, 82, 52);
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#fbbb0c;
    width: 18%;
    height: 20%;
    border-radius: 14px ;
    transition-duration: 0.5s;
}

.login-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #4B4B4B;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


.login-button:hover{
    background: #fb6c0c;
    transition: all 0.5s;
    transform: scale(1.08);
}

.modal-window{
    z-index: 55;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 40%;
    height: 24%;
    opacity: 0;
    transition: all 1s;
    right: 22.5%;
    top: 38%;
    gap: 10%;
    background: #F0F0F0;
    border-radius: 60px;
}

.modal-window .title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    
    color: #13BB89;
    margin: 0;
}
.modal-window .message{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 22px;
    
    color: #13BB89;
    margin: 0;
}

.cover-div {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 49;
    background: rgba(92, 92, 92,  0.2);
    backdrop-filter: blur(2px);
}