{% extends 'UserPages/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'UserPages/css/contact.css' %}">
{% endblock %}

{% block js %}
<script defer src="{% static 'UserPages/js/contact.js' %}"></script>
{% endblock %}

{% block content %}
    <p class="title">Контакти</p>
    <div class="information">
        <p class="small-title">Ви можете зв'язатися з нами будь-яким зручним для вас способом:</p>
        <div class="phone-number">
            <p class="small-title">Номери телефонів:</p>
            <p class="text-data">+380953701608</p>
            <p class="text-data">+380508552049</p>
        </div>
        <div class="email">
            <p class="small-title">Електронна Адреса:</p>
            <p class="text-data">furryfeastmail@gmail.com</p>
        </div>
        <div class="messanger">
            <p class="small-title">Месенджери:</p>
            <div class="messanger-img">
                <a target ="_blank" href="https://web.telegram.org"><img src="{% static 'UserPages/img/Telegram.png' %}" alt=""></a>
                <a target ="_blank" href="https://www.whatsapp.com/?lang=ru"><img src="{% static 'UserPages/img/WhatsApp.png' %}" alt=""></a>
                <a target ="_blank" href="https://www.viber.com"><img src="{% static 'UserPages/img/Viber.png' %}" alt=""></a>
            </div>
        </div>
        <div class="social-net">
            <p class="small-title">Соцiальнi Мережi:</p>
            <div class="social-net-img">
                <a target ="_blank" href="https://www.instagram.com"><img src="{% static 'UserPages/img/Instagram.png' %}" alt=""></a>
                <a target ="_blank" href="https://uk-ua.facebook.com"><img src="{% static 'UserPages/img/FaceBook.png' %}" alt=""></a>
                <a target ="_blank" href="https://twitter.com"><img src="{% static 'UserPages/img/Twitter.png' %}" alt=""></a>
            </div>
        </div>
        {% if is_authenticated %} 
            <form class="feedback" action="{% url 'contact' %}">
                {% csrf_token %}
                <p class="small-title">Зворотнiй звязок:</p>
                <textarea name="feedback-text" id="" cols="45" rows="12"></textarea>
                <button>Залишити повiдомлення</button>
            </form>   
        {% endif %}
        
    </div>
    {% if is_authenticated == False %}
        <div class="auth-block">
            <p>Увiйдiть в акаунт щоб залишити вiдгук</p>
            <button class="login-button"><a href="/login/">Авторизуватися</a></button>
        </div>
    {% endif %}
    <div class="modal-window">
        <p class="title">Дякуємо вам за зворотний зв'язок!</p>
        <p class="message">Ваше повідомлення успішно надіслано</p>
    </div>    
    
{% endblock %}