{% extends 'UserPages/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'Catalog/css/animals-selection.css' %}">
{% endblock %}
{% block js %}
<script defer src="{% static 'Catalog/js/animal_selection.js' %}"></script>
{% endblock %}

{% block content %}
<form action="{% url 'catalog' %}" class="animals">
    {% csrf_token %}
    <div class="dog animal">
        <img src="{% static 'Catalog/img/dog.png' %}" alt="">
        <p class="Собака">Собаки</p>
    </div>
    <div class="cat animal">
        <img src="{% static 'Catalog/img/cat.png' %}" alt="">
        <p class="Кiт">Коти</p>
    </div>
</form>
{% endblock %}