{% load static %}
<input type="hidden" value="{% static 'Catalog/img/star.png' %}" class="imgStarPath">
{% for product in products_filter %}
    <div class = 'section' id="section-{{ product.pk }}">
        <div class="img-box">
            <a href="/product/{{ product.pk }}"><img src="{{ product.image.url }}" alt=""></a>
        </div>
        <a href="/product/{{ product.pk }}" class = 'description'>{{ product.display_name }} </a>
        <div class="stars">
            <input type="hidden" class="count-star" value="{{ product.grade }}">
        </div>    
        {% if product.promotion != 0 %}
            <div class="old-price">
                <p class ='start-price'>{{ product.price }} грн</p>
                <div class="promotion">
                    <p class="promotion-percent">{{ product.promotion }}%</p>
                </div>
            </div>
        {% endif %}
        <div class = group-button>
            <p class ='price'>Ціна: {{ product.discount_price }} грн</p>
            <form class="addToCart">
                {% csrf_token %}
                <input type="hidden" class="product_pk" value="{{product.pk}}" name="product_pk">
                <button class = 'button-basket'><img src="{% static 'Catalog/img/button-cart.png' %}"></button>
            </form>
        </div>
    </div>
{% endfor %}
