   


{% extends 'UserPages/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'Catalog/css/product.css' %}">
{% endblock %}


{% block content %}
    <div class = 'main-product-card-head'>
        <a id = 'q' href="#">Товар</a>  
        <a id = 'w' href="{% url 'product_review' %}">Відгуки</a>
    </div>
    <div class = 'main-product-card'>
        <div class = 'main-product-card-img-box'>
            <img src="{{ product.image.url }}" alt="">
        </div>
        <div class = 'main-product-info'>
            <p class = 'main-product-name' >{{ product.name }}</p>
                <div class="main-product-info-price">
                    <p>{{ product.price }} грн / {{ product.weight }} кг</p>
                    <button class = 'main-product-button-buy' type = 'submit'>Купити <img id = 'img_c' src="{% static 'UserPages/img/side-menu/cart.png' %}" alt=""></button>
                </div>
                <button class = 'main-product-add-bascet-button'>Додати до кошику<img id = 'img_c' src="{% static 'UserPages/img/side-menu/catalog.png' %}" alt=""></button>
        </div>
    </div>
    <div class = 'main-product-description'>
        <p>{{ product.info }}</p>
    </div>

    
<!-- 
    <h1>Product</h1>
    <h2>name-obj:{{ product.name }}</h2> -->

{% endblock %}

