{% extends 'UserPages/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'Cart/css/cart.css' %}">
{% endblock %}

{% block js %}
    <script defer src="{% static 'Cart/js/cart.js' %}"></script>
{% endblock %}

{% block content %}
    <p class="title"> Мій кошик</p>
    <div class = 'colection-items'>
        {% for product in product_in_cart %}
        <div class="item">
            <input type="hidden" class="product_pk" value="{{ product.product.pk }}">
            <div class="item-icon">
                <img src="{{ product.product.image.url }}" alt="">
            </div>
            <p class="display_name">{{ product.product.display_name }}</p>
            <input type="hidden" class="price-one-product" value="{{ product.product.discount_price }}">
            <p class="price">{{ product.product.discount_price }} грн</p>
            <form action="{% url 'cart' %}" class="quantity">
                {% csrf_token %}
                <button type="submit" class="minus">&#8722;</button>
                <p class="count-product">{{ product.count_product }}</p>
                <button type="submit" class="plus">+</button>
            </form>
            <form action="{% url 'cart' %}" class="bin-block">
                {% csrf_token %}
                <img  src="{% static 'Cart/img/bin.png' %}" alt="" class="bin">
            </form>
        </div>
    {% endfor %}
    
   
        <div class="button-by-items">
            <a href="{% url 'order' %}" class="button-text">Оформити замовлення</a>
            <img src="{% static 'UserPages/img/side-menu/catalog.png' %}" alt="">
        </div>
    </div>  
{% endblock %}
    
