{% extends 'UserPages/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'Cart/css/order.css' %}">
{% endblock %}

{% block js %}
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script defer src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    <script defer src="{% static 'Cart/js/order.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="modal-window">
        <p class="title">Успiшне замовлення</p>
        <p class="message"></p>
    </div>    
    <p class="title">Оформлення замовлення</p>
    <div class="block-by">
        <div class="user-data">
            <a href="/cart/" class="back-to-cart"><img src="{% static 'Cart/img/back.png' %}" alt=""></a>
            <p class="small-title">Вашi даннi</p>
            <form action="{% url 'order' %}" class="by-form">
                {% csrf_token %}
                <input type="text" name="phone-number" id="phone-number" placeholder="Номер телефону" required>
                <input type="text" name="name-surname" id="name-surname" placeholder="Iм`я та прiзвище" required>
                <input type="text" list="city-datalist" name="city" id="city" placeholder="Мiсто" required>
                <datalist id="city-datalist">
                    {% for city in list_city %}
                        <option>{{ city }}</option>
                    {% endfor %}
                </datalist>
                <input type="hidden" list="number-mail-datalist" name="number-mail" id="number-mail" placeholder="Номер нової пошти" required>
                <datalist id="number-mail-datalist">
                </datalist>
                <div class = 'pay-area'>
                    <p class = 'pay'>Спосiб оплати:</p>
                <div class = 'input-field'>
                    <div type="checkbox" class = "method select-input"></div>
                    <p>Готiвка</p>
                </div>
                <div class = 'input-field'>
                    <div type="checkbox" class = "method"></div>
                    <p>Картка</p>
                </div>
                </div>

                <div class="price-and-button">
                    <div class="final-price-block">
                        <p class="text">Загальна цiна:</p>
                        <p class="price"></p>
                    </div>
                    <button class = 'to-order-button'>Оформити замовлення</button>
                </div>
            </form>
        </div>
        <div class="goods">
            <p class="small-title">Вашi товари</p>
            <div class="items-list">
            {% for product_in_cart in products %}
                <div class="item">
                    <input type="hidden" class="product_pk" value="{{ product_in_cart.product.pk }}">
                    <input type="hidden" class="price-one-product" value="{{ product_in_cart.product.discount_price }}">
                    <p class="name">{{ product_in_cart.product.display_name }}</p>
                    <div class="img-price-block">
                        <div class="item-img">
                            <img src="{{ product_in_cart.product.image.url }}" alt="">
                        </div>
                        <div class = 'pr'>
                            <p class="price">{{ product_in_cart.product.discount_price }}</p>
                        <form action="{% url 'order' %}" class="quantity">
                            {% csrf_token %}
                            <button class="minus">&minus;</button>
                            <p class="count-product">{{ product_in_cart.count_product }}</p>
                            <button class="plus">&plus;</button>
                        </form>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


    
